*.lock
*.log
*.zip
*.snap
*.prefs
webtoonWorkspace/.metadata/*
webtoonWorkspace/.metadata/version.ini
webtoonWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
webtoonWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
webtoonWorkspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
webtoonWorkspace/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
webtoonWorkspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
webtoonWorkspace/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
webtoonWorkspace/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.2.1.20231030-1438.xml
webtoonWorkspace/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
webtoonWorkspace/.metadata/.plugins/org.eclipse.ui.intro/introstate
webtoonWorkspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
webtoonWorkspace/webtoon/.settings/
webtoonWorkspace/Servers/
webtoonWorkspace/.gitignore
webtoonWorkspace/webtoon/.classpath
webtoonWorkspace/webtoon/.project
webtoonWorkspace/webtoon/src/main/webapp/META-INF/MANIFEST.MF
webtoonWorkspace/webtoon/src/main/webapp/WEB-INF/.gitignore
webtoonWorkspace/webtoon/src/main/webapp/WEB-INF/web.xml
