body {
  margin: 0;
  padding: 2% 2%;
  text-align: left;
}
.back a {
  text-decoration: none;
}

textarea[name="chat_content"] {
  width: 98%;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #98a2ac;
  background-color: #dcedff;
  font-size: 16px;
  resize: none;
  padding: 1%;
}

.do {
  width: 80px;
  height: 40px;
  padding: 0;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  border: none;
  float: right;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

hr {
  margin: 20px 0px;
}

.comment {
  padding: 15px 0px;
  display: flex;
  align-items: center;
}

.best {
  width: 30px;
  height: 14px;
  color: white;
  background-color: rgb(255, 46, 46);
  border-radius: 10px;
  border: none;
  display: flex;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 12px;
}

.day {
  font-size: 0.9rem;
}

.good {
  width: 50px;
  height: 25px;
  float: right;
  background-color: #dcedff;
  border: 1px solid #98a2ac;
  border-radius: 10px;
  cursor: pointer;
}
