body {
  font-family: 'Arial', sans-serif;
}

#maind {
  display: flex;
  justify-content: space-between;
  width: 100%; /* 필요에 따라 조절 */
}

#back {
  width: 85px; /* 너비 조정 */
  height: 24px; /* 높이 조정 */
  padding: 0; /* 내부 여백 제거 */
  overflow: hidden; /* 내용이 범위를 벗어나지 않도록 */
  background-color: #f0f0f0; /* 배경색 */
  border: 1px solid #ccc; /* 테두리 설정 */
  display: flex; /* Flexbox를 사용하여 내부 요소 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

#back a {
  display: block; /* 블록 레벨 요소로 변경 */
  width: 100%; /* 부모 요소의 전체 너비 사용 */
  height: 100%; /* 부모 요소의 전체 높이 사용 */
  text-align: center; /* 텍스트 중앙 정렬 */
  text-decoration: none; /* 링크 밑줄 제거 */
  color: black; /* 텍스트 색상 */
  font-size: 1em; /* 작은 텍스트 크기 */
}



.webtoon-container {
  width: 1810px; /* 너비 고정 */
  height: 330px; /* 높이 고정, 필요에 따라 조절 */
  margin: 0 auto; /* 중앙 정렬, 위 아래 마진 없음 */
  padding: 20px; /* 내부 패딩 */
  border-radius: 20px;
  background-color: #87c1ff;
  display: flex;
  align-items: center;
  border: 3px solid gray;
}

.webtoon-header {
  display: flex;
  align-items: flex-start;
}

.webtoon-image {
  width: 220px; /* 이미지 너비 고정 */
  height: 330px; /* 이미지 높이 고정 */
  border-radius: 15px;
  margin-right: 20px;
  border: 2px solid gray;
}

.webtoon-info {
  flex: 1; /* 나머지 공간을 모두 사용 */
  overflow: auto; /* 내용이 초과할 경우 스크롤 생성 */
  max-height: 500px; /* 최대 높이 설정 */
}

.author-genre {
  font-size: 0.9em;
}

.webtoon-interest {
  margin-left: auto;
  padding: 25px;
}

/* ------------------------------------------------------------------------------- */

.episodes .episode {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.episodes {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: flex-start; /* 시작 지점에서 아이템들을 정렬 */
  margin-left: 50px; /* 왼쪽으로부터 50px 떨어지게 설정 */
}
.episode-img {
  width: 160px;
  height: 90px;
  border-radius: 6px;
  border: 2px solid gray;
}

hr {
  display: block; /* 블록 레벨로 설정하여 전체 너비를 차지하도록 함 */
  width: 100%; /* 부모 컨테이너의 전체 너비 사용 */
  border: none; /* 기본 테두리 제거 */
  height: 1px; /* 선의 두께 증가 */
  background-color: #474747; /* 진한 색상으로 변경 */
  margin: 13px 0; /* 위 아래 마진 설정 */
  clear: both; /* 플로트 해제 */
}

hr {
  position: relative; /* 상대적 위치 설정 */
  z-index: 100; /* 다른 요소 위에 위치하도록 z-index 설정 */
}

a{
  text-decoration-line: none;
}


