body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* 가로 스크롤바 방지 */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav button, .my-page img {
    cursor: pointer;
    margin-left: 20px;
}

.my-page img {
    border-radius: 50%;
    width: 50px;
}

hr {
    margin: 0 20px; /* 좌우 마진 조정 */
}

.sort-options {
    text-align: left; /* 왼쪽 정렬로 변경 */
    margin-left: 200px; /* 왼쪽으로 이동 */
    margin-top: 17px; /* 위쪽 마진 추가 */
    margin-bottom: 17px; /* 아래쪽 마진 추가 */
}

.webtoon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 중앙 정렬 */
    gap: 20px;
    padding: 20px;
    margin: 0 auto; /* 좌우 마진 자동 조정으로 중앙 정렬 유지 */
    max-width: 1280px; /* 최대 너비 설정 */
}

.webtoon-card {
    flex: 1 1 170px; /* flex-basis를 170px로 설정 */
    max-width: 200px; /* 최대 너비를 200px로 제한 */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.webtoon-card:hover {
    transform: translateY(-5px);
}

.webtoon-card img {
    width: 100%;
    height: auto;
}

.webtoon-info {
    padding: 10px;
    text-align: center;
}

.webtoon-title, .webtoon-date {
    margin: 5px 0;
}

.webtoon-title {
    font-size: 14px;
    color: #333;
}

.webtoon-date {
    font-size: 12px;
    color: #666;
}