<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FreeBoardMapper">

	<insert id="freeBoard_insert">
		INSERT INTO BOARD
		(
		NO
		, WRITER_NO
		, TITLE
		, CONTENT
		)
		VALUES
		(
		SEQ_BOARD_NO.NEXTVAL
		, #{writer_no}
		, #{title}
		, #{content}
		)
	</insert>

	<select id="freeBoard_list"
		resultType="webtoon.freeBoard.vo.FreeBoardVo">
		SELECT *
		FROM
		(
		SELECT ROWNUM AS RNUM
		, T.*
		FROM
		(
		SELECT *
		FROM BOARD B
		JOIN MEMBER M
		ON B.WRITER_NO = M.NO
		WHERE B.DEL_YN = 'N'
		ORDER BY B.NO DESC
		) T )
		WHERE RNUM BETWEEN ${startNum} AND ${endNum}
	</select>

	<select id="freeBoard_datail" resultType="webtoon.freeBoard.vo.FreeBoardVo">
		SELECT
		B.NO
		, B.TITLE
		, B.CONTENT
		, M.NICK
		, B.HIT
		, B.ENROLL_DATE
		FROM BOARD B
		JOIN MEMBER M
		ON B.WRITER_NO = M.NO
		WHERE B.NO = ${no}
		AND B.DEL_YN = 'N'
	</select>
	
	<update id="freeBoard_hit">
		UPDATE BOARD 
		SET HIT = HIT+1 
		WHERE NO = ${no} AND DEL_YN = 'N'
	</update>

	<update id="freeBoard_edit">
		UPDATE BOARD 
		SET TITLE = #{title} 
		, CONTENT = #{content}
		WHERE NO = ${no}
	</update>

	<update id="freeBoard_delete">
		UPDATE BOARD 
		SET DEL_YN = 'Y' 
		WHERE NO = #{no}
		AND WRITER_NO = #{writer_no}
		AND DEL_YN = 'N'
	</update>

</mapper>