<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatMapper">

	<insert id="chat_insert">
		INSERT INTO CHAT 
		(
		    NO
		    , REF_EPISODE_NO
		    , MEMBER_NO
		    , CONTENT
		) 
		VALUES
		(
		    SEQ_COMMENT_NO.NEXTVAL
		    , ${ref_episode_no}
		    , ${member_no}
		    , #{content}
		)
	</insert>

</mapper>